<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Weed.tw</a>
      <form class="navbar-search pull-left" action="/search" method="GET" >
	    <input type="text" name="q" id="q" class="search-query input-large" value="<%= @q -%>" placeholder="Search for new friends to follow">
      </form>

      <div class="nav-collapse">
	  <ul class="nav pull-right">
		<li class="dropdown" id="usermenu">
		  <a class="dropdown-toggle" data-toggle="dropdown" href="#usermenu">
		    Logged in as <%= @twitter_user["screen_name"] %>
		    <b class="caret"></b>
		  </a>
		  <ul class="dropdown-menu">
		    <li><a href="https://twitter.com/#!/logout">Log out of Twitter</a></li>
		    <li> <a href="/logout">Log out of Weed.tw</a></li>
		  </ul>
	    </li>
	  </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

  <% if flash[:notice] %>
   <div class="alert alert-success"><%= flash[:notice] %></div>
  <% end %>

<div class="span12">
<h2>Search for Twitter users to follow</h2>
  <%= form_tag do %>
	  <table>
		  <th><td></td>
		  </th>
		    <% @new_friends.each do |new_friend| %>
		   	<tr><td>
				  <label class="checkbox">
					  <h4><input type="checkbox" class="inline" name="follow[]" <% if new_friend["following"] %>disabled<% end %> value="<%= new_friend["id"] %>">
					    <%= new_friend["name"] %> <small>@<%= new_friend["screen_name"] %></small> <% if new_friend["following"] %><span class="label label-info">following</span><% end %></h4>
				  </label>
			  </td></tr>
 	      <% end %>
    </table> 
      <button type="submit" class="btn btn-success">Follow selected users</button>
  <% end %>
  <div class="pagination">
    <ul>
      <li><a href="?q=<%= @q %>&page=<%= @previous %>&page_max=<%= @page_max %>">Prev</a></li>
  	<% (0..@page_max).each do |i| %>
  	  <li <% if @page==i %><%= "class='active'" %><% end %>><a href="?q=<%= @q %>&page=<%= i %>&page_max=<%= @page_max %>"><%= i %></a></li>
  	<% end %>

      <li>
        <% if @more %>
          <a href="?q=<%= @q %>&page=<%= @page_max+1 %>&page_max=<%= @page_max %>">...</a>
        <% end %>
        <a href="?q=<%= @q %>&page=<%= @next %>&page_max=<%= @page_max %>">Next</a>

      </li>
    </ul>
  </div>
</div>